<div class="navbar navbar-default" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <p class="navbar-brand">{{ site.name }}</p>
    </div>
    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <li><b>Installation</b></li>
        {% assign installationPosts = site.categories.installation %}
        {% for item in installationPosts %}
            <li><a href="{{ item.url }}">&nbsp;&nbsp;{{item.title}}</a></li>
        {%endfor%}
        <li><b>Video</b></li>
        {% assign videoPosts = site.categories.video %}
        {% for item in videoPosts %}
            <li><a href="{{ item.url }}">&nbsp;&nbsp;{{item.title}}</a></li>
        {%endfor%}
        <li><b>Sculpture</b></li>
        {% assign sculpturePosts = site.categories.sculpture %}
        {% for item in sculpturePosts %}
            <li><a href="{{ item.url }}">&nbsp;&nbsp;{{item.title}}</a></li>
        {%endfor%}
        <li><a href="{{ site.baseurl }}/about">About</a></li>
      </ul>
    </div><!--/.nav-collapse -->
  </div>
</div>

<!-- Sidebar -->
<div id="sidebar-wrapper">
  <ul class="sidebar-nav">
    <li class="sidebar-brand"><a href="{{ site.baseurl }}/"><h1 class="brand">{{ site.name }}</h1></a><h3>{{ site.description }}</h3></li>
    <hr />
    <li><b>Installation</b></li>
    {% assign installationPosts = site.categories.installation %}
    {% for item in installationPosts %}
        <li><a href="{{ item.url }}">&nbsp;&nbsp;{{item.title}}</a></li>
    {%endfor%}
    <li><b>Video</b></li>
    {% assign videoPosts = site.categories.video %}
    {% for item in videoPosts %}
        <li><a href="{{ item.url }}">&nbsp;&nbsp;{{item.title}}</a></li>
    {%endfor%}
    <li><b>Sculpture</b></li>
    {% assign sculpturePosts = site.categories.sculpture %}
    {% for item in sculpturePosts %}
        <li><a href="{{ item.url }}">&nbsp;&nbsp;{{item.title}}</a></li>
    {%endfor%}
    <li><a href="{{ site.baseurl }}/about">About</a></li>
    <hr />
    <div id="social-wrapper">
      <li> <a href="{{ site.behance }}"><i class="fa fa-behance"></i> Behance</a></li>
      <!-- <li> <a href="{{ site.facebook }}"><i class="fa fa-facebook-square"></i> facebook</a></li> -->
    </div>
  </ul>
</div>
